.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#launcher-icon{
  width:75px;
  height:70px;
}
#div-toogle{
  text-align:right;
}
.rcw-conversation-container .avatar{
  width:110px;
  height:100px;
}
.rcw-conversation-container .rcw-title{
  padding:0px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marginleft {
  margin-left: 50px;
}


